#geral{
  margin-top: 20px;
  color: white;
}
#icon-empresa{
  height: 10vh;
  background-color: #fff;
  justify-content: center;
  display: flex;
}
#imgEmpresa{
  margin-top: 4%;
  height: 60%;
}
#redes{
  height: 12vh;
  background-color: #262626;
  text-align: center;
}
#icons-redes{
  margin-top: 3.5%;
}
#icons-redesMB{
  margin-top: 3%;
}

#contatos, #contatos-md{
  text-align: center;
  background-color: #262626;
  border-bottom: 2px solid #fff;
}
#copy{
  text-align: center;
  background-color: #262626;
  height: 4vh;
  font-size: 1.7vh;
}
#copy-text{
  margin-top: 1.3%;
}
#imgMeio{
  margin-left: 15%;
  margin-right: 15%;
}