<footer class="d-flex d-sm-none flex-column" id="geral">
  <img src="../../../assets/Logo/Logo_preta.png" class="img-fluid logoEmpresa" id="imgEmpresa">
  <div id="redes">
    <h1 class="fs-5 pt-3">Redes Sociais</h1>
    <div id="icons-redes" class="d-flex align-items-center justify-content-evenly">
      <img class="img-fluid" src="../../../assets/elementos/Instagram.png">
      <img class="img-fluid" src="../../../assets/elementos/Facebook.png">
      <img class="img-fluid" src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-5" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-text">copyrigth @2024</p>
  </div>
</footer>

<footer class="d-none d-sm-flex d-lg-none flex-column" id="geral">
  <img src="../../../assets/Logo/Logo_preta.png" class="img-fluid logoEmpresa" id="imgEmpresa">
  <div id="redes">
    <h1 class="fs-3 pt-4">Redes Sociais</h1>
    <div id="icons-redes" class="d-flex align-items-center justify-content-evenly">
      <img class="img-fluid" src="../../../assets/elementos/Instagram.png">
      <img class="img-fluid" src="../../../assets/elementos/Facebook.png">
      <img class="img-fluid" src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-3" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-textMB">copyrigth @2024</p>
  </div>
</footer>

<div class="d-none d-lg-block " id="geral">
  <div id="grandContainerFooter" class="pt-2">
    <div id="littleContainerFooterLeft">
      <div class="email">
        <img class="" src="../../../assets/elementos/emailWhite.png">
        <h3 class="fs-5" id="h3-lg">emaildaempresa@gmail.com</h3>
      </div>
      <div class="telefone">
        <img class="" src="../../../assets/elementos/telefoneWhite.png">
        <h3 class="fs-5" id="h3-lg">(11) 99999-9999</h3>
      </div>
    </div>
    <div id="littleContainerFooterCenter">
      <div class="redeSocial">
        <button><a href=""><img class="img-fluid" src="../../../assets/elementos/Instagram.png"></a></button>
        <a href="">
          <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
        </a>
      </div>
      <div class="redeSocial">
        <button><a href=""><img class="img-fluid" src="../../../assets/elementos/Facebook.png"></a></button>
        <a href="">
          <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
        </a>
      </div>
      <div class="redeSocial">
        <button><a href=""><img class="img-fluid" src="../../../assets/elementos/Twitter.png"> </a></button>
        <a href="">
          <h3 class="fs-5" id="h3-lg">@nomedaempresa</h3>
        </a>
      </div>
    </div>
    <div id="littleContainerFooterRight">
      <img src="../../../assets/Logo/Logo_branca.png" class="img-fluid logoEmpresa" id="imgEmpresa">
      <p id="p-lg" class="pb-0">Agradecemos a sua atenção e interesse em nossos serviços.
        Se precisar de mais informações ou tiver alguma dúvida, estamos à disposição. Sua satisfação é nossa prioridade!
      </p>
    </div>
  </div>
  <div id="ContainerCopyright">
    <p id="p-lg-copyrigth">Copyright @2024</p>
  </div>
</div>