<div class="d-flex d-sm-none flex-column" id="geral">
  <div id="icon-empresa">
      <img src="../../../assets/elementos/github.png" id="imgEmpresa">
  </div>
  <div id="redes">
    <h1 class="fs-4" id="redes-text">Redes Sociais</h1>
    <div id="icons-redes">
      <img src="../../../assets/elementos/Instagram.png">
      <img id="imgMeio" src="../../../assets/elementos/Facebook.png">
      <img src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-5" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-text">copyrigth @2024</p>
  </div>
</div>

<div class="d-none d-sm-block d-md-none flex-column" id="geral"> 
  <div id="icon-empresa">
      <img src="../../../assets/elementos/github.png" id="imgEmpresa">
  </div>
  <div id="redes">
    <h1 class="fs-4" id="redes-text">Redes Sociais</h1>
    <div id="icons-redesMB">
      <img src="../../../assets/elementos/Instagram.png">
      <img id="imgMeio" src="../../../assets/elementos/Facebook.png">
      <img src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-5" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-textMB">copyrigth @2024</p>
  </div>
</div>