<div class="d-flex d-sm-none flex-column" id="geral">
  <img src="../../../assets/Logo/Logo_preta.png" class="img-fluid logoEmpresa" id="imgEmpresa">
  <div id="redes">
    <h1 class="fs-5 pt-3">Redes Sociais</h1>
    <div id="icons-redes" class="d-flex align-items-center justify-content-evenly">
      <img class="img-fluid" src="../../../assets/elementos/Instagram.png">
      <img class="img-fluid" src="../../../assets/elementos/Facebook.png">
      <img class="img-fluid" src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-5" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-text">copyrigth @2024</p>
  </div>
</div>

<div class="d-none d-sm-flex d-md-none flex-column" id="geral">
  <img src="../../../assets/Logo/Logo_preta.png" class="img-fluid logoEmpresa" id="imgEmpresa">
  <div id="redes">
    <h1 class="fs-3 pt-4">Redes Sociais</h1>
    <div id="icons-redes" class="d-flex align-items-center justify-content-evenly">
      <img class="img-fluid" src="../../../assets/elementos/Instagram.png">
      <img class="img-fluid" src="../../../assets/elementos/Facebook.png">
      <img class="img-fluid" src="../../../assets/elementos/Twitter.png">
    </div>
  </div>
  <div id="contatos">
    <h2 class="fs-3" id="contatos-text">Contatos:</h2>
    <p>emaildaempresa@gmail.com</p>
    <p>(11) 99999-9999</p>
  </div>
  <div id="copy">
    <p id="copy-textMB">copyrigth @2024</p>
  </div>
</div>