#geral {
  margin-top: 20px;
  color: white;
}

#imgEmpresa {
  margin-top: 4%;
  width: 12%;
  margin: 0 auto;
  margin-bottom: 4%;
}

#redes {
  background-color: #262626;
  text-align: center;
}

#icons-redes {
  padding: 5% 0;
}

#contatos, #contatos-md {
  text-align: center;
  background-color: #262626;
  border-bottom: 2px solid #fff;
}

#copy {
  text-align: center;
  background-color: #262626;
  height: 4vh;
  font-size: 1.7vh;
}

#copy-text {
  margin-top: 1.3%;
}

#imgMeio {
  margin-left: 15%;
  margin-right: 15%;
}

/* DESKTOP - LG */

#grandContainerFooter{
  width: 100%;
  height: 30vh;
  background-color: #0A0A0A;
  display: flex;
}

#littleContainerFooterLeft, #littleContainerFooterCenter, #littleContainerFooterRight {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email, .telefone{
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#h3-lg{
margin-left: 10px;
}

.redeSocial{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
}

a{
  text-decoration:none;
  color: #ffffff ;
}

#imgEmpresa{
  width: 70px;
  float: left;
}

#p-lg{
  width: 80%;
}

#p-lg-copyright{
  width: 100%;
  height: 100%;
}

#ContainerCopyright{
  width: 100%;
  height: 5vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}