<section class="d-flex d-sm-none flex-column align-items-center justify-content-center">
    <h1 id="h1-sm" class="fs-1">Quem Somos?</h1>
    <p id="p-sm">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles para
        desenvolver
        o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY, um Sistema
        de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré, durante e
        pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.</p>
    <app-onda></app-onda>
    <h2 class="h3-sm fs-2">Missão</h2>
    <p class="p-sm fs-6 mb-4">Proporcionar uma experiência eficiente na organização de eventos, facilitando o
        planejamento, a
        coordenação e a
        execução de eventos de todos os portes, garantindo a satisfação dos organizadores e participantes.</p>
    <h2 class="h3-sm fs-2">Visão</h2>
    <p class="p-sm fs-6 mb-4">Ser a plataforma de gestão de eventos, reconhecida pela inovação, excelência no
        atendimento ao
        usuário,
        transformando a maneira como eventos são organizados e vivenciados.</p>
    <h2 class="h3-sm fs-2">Valores</h2>
    <p class="p-sm fs-6"><b>Inovação:</b> Soluções criativas e tecnológicas. <br><b>Qualidade:</b> Altos padrões
        de
        serviço. <br><b>Compromisso:</b> Dedicação
        ao
        cliente. <br><b>Transparência:</b> Comunicação clara.</p>
    <app-onda></app-onda>
</section>