<section class="d-flex d-sm-none flex-column align-items-center justify-content-center">
    <h1 id="h1-sm" class="fs-1">Quem Somos?</h1>
    <p id="p-sm">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles para
        desenvolver
        o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY, um Sistema
        de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré, durante e
        pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.</p>
</section>
<app-onda></app-onda>