<section class="d-flex d-sm-none flex-column align-items-center justify-content-center">
    <h1 id="h1-sm" class="fs-1 txt-destaque">Quem Somos?</h1>
    <p id="p-sm">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles para
        desenvolver
        o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY, um Sistema
        de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré, durante e
        pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.</p>
    <app-onda></app-onda>
    <h2 class="h3-sm fs-2">Missão</h2>
    <p class="p-sm fs-6 mb-4">Proporcionar uma experiência eficiente na organização de eventos, facilitando o
        planejamento, a
        coordenação e a
        execução de eventos de todos os portes, garantindo a satisfação dos organizadores e participantes.</p>
    <h2 class="h3-sm fs-2">Visão</h2>
    <p class="p-sm fs-6 mb-4">Ser a plataforma de gestão de eventos, reconhecida pela inovação, excelência no
        atendimento ao
        usuário,
        transformando a maneira como eventos são organizados e vivenciados.</p>
    <h2 class="h3-sm fs-2">Valores</h2>
    <p class="p-sm fs-6"><b>Inovação:</b> Soluções criativas e tecnológicas. <br><b>Qualidade:</b> Altos padrões
        de
        serviço. <br><b>Compromisso:</b> Dedicação
        ao
        cliente. <br><b>Transparência:</b> Comunicação clara.</p>
    <app-onda></app-onda>
</section>

<section class="d-none d-sm-block d-lg-none flex-column align-items-center justify-content-center">
    <h1 id="h1-md" class="fs-1 txt-destaque">Quem Somos?</h1>
    <p id="p-md">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a Equipe Beatles para
        desenvolver
        o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY, um Sistema
        de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré, durante e
        pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.</p>
    <app-onda></app-onda>
    <h2 class="h3-md fs-1">Missão</h2>
    <p class="p-md fs-4 mb-4">Proporcionar uma experiência eficiente na organização de eventos, facilitando o
        planejamento, a coordenação e a execução de eventos de todos os portes, garantindo a satisfação dos
        organizadores e participantes.</p>
    <h2 class="h3-md fs-1">Visão</h2>
    <p class="p-md fs-4 mb-4">Ser a plataforma de gestão de eventos, reconhecida pela inovação, excelência no
        atendimento ao
        usuário,
        transformando a maneira como eventos são organizados e vivenciados.</p>
    <h2 class="h3-md fs-1">Valores</h2>
    <p class="p-md fs-4"><b>Inovação:</b> Soluções criativas e tecnológicas. <br><b>Qualidade:</b> Altos padrões
        de
        serviço. <br><b>Compromisso:</b> Dedicação
        ao
        cliente. <br><b>Transparência:</b> Comunicação clara.</p>
    <app-onda></app-onda>
</section>

<section class="d-none d-lg-block d-xxl-none">
    <div id="grandContainerQuemSomos">
        <div class="littleContainerQuemSomosLeft"></div>
        <div class="littleContainerQuemSomosRigth">
            <div class="txtQuemSomos">
                <h1 id="h1-lg-quemSomos" class="fs-1 txt-destaque">Quem Somos?</h1>
                <p id="p-lg-quemSomos">Olá, somos estudantes da Etec Professor Horácio Augusto da Silveira e formamos a
                    Equipe Beatles para
                    desenvolver
                    o Trabalho de Conclusão de Curso do Técnico em Desenvolvimento de Sistemas. Foi criado, a Event FY,
                    um Sistema
                    de Gestão de Eventos que visa atender as necessidades de um organizador na criação e gestão do pré,
                    durante e
                    pós evento, e também aos clientes que frequentam eventos facilitando a sua busca e acesso a esses.
                </p>
            </div>
        </div>
    </div>
    <div id="tituloSobreNos">
        <h1 id="h1-lg-sobreNos" class="fs-1 txt-destaque">Sobre Nós</h1>
    </div>
    <div id="grandContainerMvv">
        <div id="missao">
            <h2 class="h3-lg fs-1">Missão</h2>
            <div class="div-p-mvv">

                <p class="p-lg-mvv mb-4">Proporcionar uma experiência eficiente na organização de eventos, facilitando
                    o planejamento, a coordenação e a execução de eventos de todos os portes, garantindo a satisfação dos
                    organizadores e participantes.
                </p>
            </div>
        </div>
        <div class="linha d-flex align-items-center mx-auto"></div>
        <div id="visao">
            <h2 class="h3-lg fs-1">Visão</h2>
            <div class="div-p-mvv">

                <p class="p-lg-mvv mb-4">Ser a plataforma de gestão de eventos, reconhecida pela inovação, excelência no
                    atendimento ao usuário, transformando a maneira como eventos são organizados e vivenciados.
                </p>
            </div>
        </div>
        <div class="linha mx-auto"></div>
        <div id="valores">
            <h2 class="h3-lg fs-1">Valores</h2>
            <div class="div-p-mvv">

                <p class="p-lg-mvv"><b>Inovação:</b> Soluções criativas e tecnológicas. <br><b>Qualidade:</b> Altos padrões
                    de serviço. <br><b>Compromisso:</b> Dedicação ao cliente. <br><b>Transparência:</b> Comunicação clara.
                </p>
            </div>
        </div>
    </div>

</section>