#main-sm {
    background-image: url("../../../assets/background/principal.png");
    background-size: 100% 125%;
    background-repeat: no-repeat;
    background-position: center;
}

#button-sm, #button-md {
    background: #fff;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#section-sm {
    width: 100%;
    height: 100%;
}

#h1-sm {
    max-width: 82%;
    min-width: 70%;
    color: #007BE0;
}

#h3-sm {
    width: 90%;
    color: #fff;
    font-weight: 200;
}

#button-sm {
    height: 3.5vh;
    font-weight: 400;
    font-size: 70%;
    width: 26%;
    border: none;
    border-radius: 4px;
    margin-top: 2%;
}

#container-sm {
    padding-left: 4.5vw;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}


/* TABLET - MD */

#main-md {
    height: 40vh;
    background-image: url("../../../assets/background/principal.png");
    background-size: 100% 125%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-md {
    width: 100%;
    height: 100%;
}

#h1-md {
    max-width: 100%;
    min-width: 70%;
    color: #007BE0;
}

#h3-md {
    width: 60%;
    color: #fff;
    font-weight: 200;
}

#button-md {
    height: 3.8vh;
    font-weight: 400;
    font-size: 90%;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: 2%;
}

#container-md {
    padding-left: 4.5vw;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}

#logo-md {
    width: 30%;
}

#seta {
    animation: indicador 2.3s infinite;
    margin-bottom: 5%;
    width: 8%;
}

@keyframes indicador {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

#logo-sm {
    margin: 0 auto;
    padding: 3% 0;
    width: 18%;
}


#container {
    display: flex;
    align-items: center;
    width: 100%;
}



/* From Uiverse.io by alexruix */
/* The switch - the box around the slider */
.switch {
    right: 4vw;
    font-size: 17px;
    position: absolute;
    display: inline-flex;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #0062B2;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #cccccc;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #007BE0;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #f0e001de;
}

/* DESKTOP - LG*/

#logo-lg {
    margin: 0 auto;
    padding: 3% 0;
    width: 10%;
}

#h1-lg {
    max-width: 100%;
    min-width: 70%;
    color: #007BE0;
}

#h3-lg {
    width: 60%;
    color: #fff;
    font-weight: 200;
}

#button-lg {
    height: 3.8vh;
    font-weight: 400;
    font-size: 90%;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: 2%;
}

#container-lg {
    padding-left: 4.5vw;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}

#logo-lg {
    width: 30%;
}

#seta {
    animation: indicador 2.3s infinite;
    margin-bottom: 5%;
    width: 5%;
}