/* MOBILE - SM */
#main-sm {
    height: 40vh;
    background-image: url("../../../assets/background/principal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-sm {

    width: 100%;
    height: 100%;
    background: #000000ad;
}

#h1-sm {
    max-width: 82%;
    min-width: 70%;
    color: #EF820D;
}

#h3-sm {
    width: 90%;
    color: #fff;
    font-weight: 200;
}

#button-sm {
    height: 2.6vh;
    font-weight: 400;
    font-size: 70%;
    width: 22%;
    border: none;
    border-radius: 4px;

}

#container-sm {
    padding-left: 4.5vw;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}

#logo-sm {
    width: 30%;
}