<main id="main-sm" class="d-flex d-sm-none">
    <section class="d-flex flex-column align-items-center justify-content-evenly" id="section-sm">
        <div id="container">
            <label class="switch">
                <input type="checkbox" (click)="toggleMode()" checked>
                <span class="slider"></span>
            </label>
            <img src="../../../assets/Logo/Logo_branca.png" class="img-fluid" id="logo-sm">
        </div>

        <div class="d-flex flex-column justify-content-evenly" id="container-sm">
            <h1 class="fs-3" id="h1-sm">Nós estamos prontos para ajudá-lo</h1>
            <h3 class="fs-6" id="h3-sm">Desenvolvimento de sites e aplicativos</h3>
            <button id="button-sm"><a href="https://wa.me/+5511968010088">Contate-nos</a></button>
        </div>

        <img src="../../../assets/elementos/seta.png" class="img-fluid" id="seta">

    </section>
</main>

<main id="main-sm" class="d-none d-sm-block d-xxl-none ">
    <section class="d-flex flex-column align-items-center justify-content-evenly" id="section-md">
        <div id="container">
            <label class="switch">
                <input type="checkbox" (click)="toggleMode()" checked>
                <span class="slider"></span>
            </label>
            <img src="../../../assets/Logo/Logo_branca.png" class="img-fluid" id="logo-sm">
        </div>

        <div class="d-flex flex-column justify-content-evenly" id="container-md">
            <h1 class="fs-1" id="h1-md">Nós estamos prontos para ajudá-lo</h1>
            <h3 class="fs-4" id="h3-md">Desenvolvimento de sites e aplicativos</h3>
            <button id="button-md"><a href="https://wa.me/+5511968010088">Contate-nos</a></button>
        </div>
        <img src="../../../assets/elementos/seta.png" class="img-fluid" id="seta">
    </section>
</main>
<main id="main-sm" class="d-none d-xxl-block">
    <section class="d-flex flex-column align-items-center justify-content-evenly" id="section-lg">
        <div id="container" class="justify-content-center">
            <label class="switch">
                <input type="checkbox" (click)="toggleMode()" checked>
                <span class="slider"></span>
            </label>
            <img src="../../../assets/Logo/Logo_branca.png" class="img-fluid pt-4 pb-4" id="logo-sm logo-lg">
        </div>
        <div class="d-flex flex-column justify-content-evenly" id="container-lg">
            <h1 class="fs-1" id="h1-lg">Nós estamos prontos para ajudá-lo</h1>
            <h3 class="fs-4" id="h3-lg">Desenvolvimento de sites e aplicativos</h3>
            <button id="button-lg"><a href="https://wa.me/+5511968010088">Contate-nos</a></button>
        </div>
        <img src="../../../assets/elementos/seta.png" class="img-fluid" id="seta">
    </section>
</main>
