<main id="main-sm" class="d-flex d-sm-none">
    <section class="d-flex flex-column align-items-center justify-content-evenly" id="section-sm">
        <img src="" class="img-fluid" id="logo-sm">
        <div class="d-flex flex-column justify-content-evenly" id="container-sm">
            <h1 class="fs-3" id="h1-sm">Nós estamos prontos para ajudá-lo</h1>
            <h3 class="fs-6" id="h3-sm">Desenvolvimento de sites e aplicativos</h3>
            <button id="button-sm"><a href="https://wa.me/+5511968010088">Contate-nos</a></button>
        </div>
    </section>
</main>

<main id="main-sm" class="d-none d-sm-block d-md-none">
    <section class="d-flex flex-column align-items-center justify-content-evenly" id="section-md">
        <img src="" class="img-fluid" id="logo-md">
        <div class="d-flex flex-column justify-content-evenly" id="container-md">
            <h1 class="fs-1" id="h1-md">Nós estamos prontos para ajudá-lo</h1>
            <h3 class="fs-4" id="h3-md">Desenvolvimento de sites e aplicativos</h3>
            <button id="button-md"><a href="https://wa.me/+5511968010088">Contate-nos</a></button>
        </div>
    </section>
</main>
