* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

html, body {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
    background-color: #0A0A0A;
    color: #fff;
}

.txtShadow-dark-theme {
    text-shadow: -2px 1px 0px rgba(209, 209, 209, 0.5) !important;
}