<div class="d-flex d-sm-none flex-column" id="integrantes-sm">
    <h1 class="fs-1 txt-destaque" id="h1-sm">Equipe</h1>
    <div class="slider-container" #slider>
        <div class="slider-inner">
            <div class="card-sm d-flex align-items-center justify-content-evenly flex-column"
                *ngFor="let member of members">
                <img [src]="member.image" alt="{{ member.name }}" class="img-fluid" />
                <div class="member-info-sm d-flex align-items-center justify-content-evenly flex-column">
                    <h3 id="h3-sm">{{ member.name }}</h3>
                    <p id="p-sm" >{{ member.role }}</p>
                    <a target="_blank" href="{{ member.linkGithub }}" class="github-link" id="a-sm">
                      <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-sm">
                        {{ member.github }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none d-sm-block d-md-none flex-column" id="integrantes-sm">
    <h1 class="fs-0 txt-destaque" id="h1-md">Equipe</h1>
    <div class="slider-container" #slider>
        <div class="slider-inner">
            <div class="card-md d-flex align-items-center justify-content-evenly flex-column"
                *ngFor="let member of members">
                <img [src]="member.image" alt="{{ member.name }}" class="img-fluid" />
                <div class="member-info-md d-flex align-items-center justify-content-evenly flex-column">
                    <h3 id="h3-md">{{ member.name }}</h3>
                    <p id="p-md" >{{ member.role }}</p>
                    <a target="_blank" href="{{ member.linkGithub }}" class="github-link" id="a-sm">
                      <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-sm">
                        {{ member.github }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none d-lg-block d-xl-none">
    <h1 class="fs-0 txt-destaque" id="h1-md">Equipe</h1>
    <div class="slider-inner">
        <div class="card-lg" *ngFor="let member2 of members2">
            <img [src]="member2.image" alt="{{ member2.name }}" class="img-fluid" id="img-lg" />
            <h3 id="h3-lg">{{ member2.name }}</h3>
            <p id="p-lg" >{{ member2.role }}</p>
            <a target="_blank" href="{{ member2.linkGithub }}" class="github-link" id="a-lg">
                <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-lg">
                  {{ member2.github }}
            </a>
        </div>
    </div>
    <div class="slider-inner">
        <div class="card-lg" *ngFor="let member3 of members3">
            <img [src]="member3.image" alt="{{ member3.name }}" class="img-fluid" id="img-lg" />
            <h3 id="h3-lg">{{ member3.name }}</h3>
            <p id="p-lg" >{{ member3.role }}</p>
            <a target="_blank" href="{{ member3.linkGithub }}" class="github-link" id="a-lg">
                <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-lg">
                  {{ member3.github }}
            </a>
        </div>
    </div>
</div>

<div class="d-none d-xl-block">
    <h1 class="fs-0 txt-destaque" id="h1-md">Equipe</h1>
    <div class="slider-innerXL">
        <div class="card-xl" *ngFor="let member2 of members2">
            <img [src]="member2.image" alt="{{ member2.name }}" class="img-fluid" id="img-lg" />
            <h3 id="h3-xl">{{ member2.name }}</h3>
            <p id="p-xl" >{{ member2.role }}</p>
            <a target="_blank" href="{{ member2.linkGithub }}" class="github-link" id="a-xl">
                <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-lg">
                  {{ member2.github }}
            </a>
        </div>
    </div>
    <div class="slider-innerXL">
        <div class="card-xl" *ngFor="let member3 of members3">
            <img [src]="member3.image" alt="{{ member3.name }}" class="img-fluid" id="img-lg" />
            <h3 id="h3-xl">{{ member3.name }}</h3>
            <p id="p-xl" >{{ member3.role }}</p>
            <a target="_blank" href="{{ member3.linkGithub }}" class="github-link" id="a-xl">
                <img src="../../../assets/elementos/github.png" class="img-fluid" id="github-lg">
                  {{ member3.github }}
            </a>
        </div>
    </div>
</div>