* {
    margin: 0;
    padding: 0;
}

#h1-sm {
    text-align: center;
    padding: 0% 0 3% 0;
    color: #007BE0;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
.slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: grab;
}

.slider-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.slider-inner::-webkit-scrollbar {
    display: none;
}

.card-sm {
    padding: 0 0 2vw 0;
    height: 75vw;
    width: 50%;
    margin: 0 2.5vw;
    background: #0062B2;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    flex: 0 0 auto;
}

.card-sm img {
    width: 90%;
    height: 68%;
    object-fit: cover;
    image-rendering: auto;
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    width: 100%;
}

.slider-container.active {
    cursor: grabbing;
}

.member-info-sm {
    padding: 2vw 0 0 0;
    width: 100%;
}

#a-sm, #h3-sm, #p-sm, #a-lg, #a-xl, #a-xxl {
    color: #fff;
}

#h3-sm {
    font-size: 4vw;
}

#p-sm {
    font-size: 3vw;
}

#a-sm {
    font-size: 2.5vw;

}
#a-lg{
    font-size: 1.8vw;
}

#github-sm, #github-lg {
    padding: 0 2vw 0 0;
    height: 100%;
    width: 12%;
}
#github-lg{
    padding: 0 1vw 0 0;
    width: 15%;
}

#h1-md {
    text-align: center;
    padding: 0% 0 3% 0;
    color: #007BE0;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 50px;
}
.slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: grab;
}

.slider-inner, .slider-innerXL {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.slider-innerXL{
    margin-left: 11%;
}

.slider-inner::-webkit-scrollbar {
    display: none;
}

.card-md, .card-lg, .card-xl, .card-xxl {
    padding: 0 0 2vw 0;
    height: 75vw;
    width: 50%;
    margin: 0 2.5vw;
    background: #0062B2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 auto;
}
.card-lg, .card-xl{
    margin-top: 2%;
    height: 30vw;
    width: 22%;
    margin-left: 7.5%;
}
.card-xl{
    width: 22%;
    height: 28vw;
    margin-left: 4%;
}
.card-xxl{
    width: 17%;
    height: 20vw;
    margin-left: 7.9%;
    margin-bottom: 2%;
}
#img-lg, #img-xl{
    margin-top: 3%;
    width: 90%;
    height: 68%;
    object-fit: cover;
    image-rendering: auto;
}
#img-xl{
    width: 90%;
    height: 60%;     
}

.card-md img {
    width: 90%;
    height: 68%;
    object-fit: cover;
    image-rendering: auto;
}
#h3-md, #h3-sm, #h3-lg, #h3-xl, #h3-xxl, #p-sm, #p-md, #p-lg, #p-xl, #p-xxl{
  padding: 0.5vw 0;
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    width: 100%;
}

.slider-container.active {
    cursor: grabbing;
}

.member-info-md {
    padding: 2vw 0 0 0;
    width: 100%;
}

#a-md, #h3-md, #h3-lg, #h3-xl, #h3-xxl, #p-md, #p-lg, #p-xl, #p-xxl {
    color: #fff;
}

#h3-md {
    font-size: 4vw;
}
#h3-lg{
    font-size: 2vw;
}
#h3-xl{
    font-size: 1.8vw;
}
#h3-xxl{
    font-size: 1.5vw;
}

#p-md {
    font-size: 3vw;
}
#p-lg{
    font-size: 1.8vw;
}
#p-xl{
    font-size: 1.5vw;
}
#p-xxl{
    font-size: 1vw;
}

#a-md {
    font-size: 2.5vw;
}
#a-xxl{
    font-size: 1vw;
}

#github-md {
    padding: 0 2vw 0 0;
    height: 100%;
    width: 12%;
}
